@model IEnumerable<ProjectReseller.Models.HomePageItemsView>

@{
    ViewBag.Title = "Strona główna";

    var imagePath = @"\images\";
}

<h2>Ostatnio dodane</h2>


    <div class="row">
        @foreach (var item in Model) {
        

            <div class="col-lg-4 mt-4">
                <div class="card shadow-sm" style="background-color: #8e42ff; color: white;">
                    <img class="card-img-top" style="height: 15vw; object-fit: cover;" src="@(imagePath + Html.DisplayFor(modelItem => item.image))" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.name)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.description)</p>
                        <div class="row">
                            <div class="col-6">
                                <p class="card-text"><small><a style="color: #67d5db" href="@Url.Action("Details", "User", new { id = item.users_id })">@Html.DisplayFor(modelItem => item.users_name)</a></small></p>
                            </div>
                            <div class="col-6">
                                <h6 style="text-align: right">@Html.DisplayFor(modelItem => item.price) zł</h6>
                            </div>
                        </div>
                        <a class="btn btn-dark btn-block" role="button" href="@Url.Action("Details", "Home", new { id = item.id })">Zobacz</a>
                    </div>
                </div>
            </div>

        
        }
    </div>
