@model ProjectReseller.Models.delivery

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>delivery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.item.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.delivery_status.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.delivery_status.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.users.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.users.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
