<!DOCTYPE html>
@using ProjectReseller.Models

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Reseller</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
        <a class="navbar-brand" href="#">@Html.ActionLink("Reseller", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container-fluid">

            <div class="navbar-collapse collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item"><text class="nav-link">@Html.ActionLink("Strona główna", "Index", "Home")</text></li>
                    <li class="nav-item"><text class="nav-link">@Html.ActionLink("Kategorie", "Index", "Category")</text></li>
                    <li class="nav-item"><text class="nav-link">@Html.ActionLink("Użytkownicy", "Index", "User")</text></li>
                    <li class="nav-item"><text class="nav-link">@Html.ActionLink("Rzeczy", "Index", "Item")</text></li>
                    @if (Session["user"] != null) {
                        if((Session["user"] as users).account_type != 0) {
                            <li class="nav-item"><text class="nav-link" style="color: darkred">@Html.ActionLink("Zgłoszenia", "Index", "Report")</text></li>
                        }
                    }
                    </ul>
                <ul class="navbar-nav ml-auto">
                    @if (Session["user"] != null) {
                    <li class="nav-item dropdown" style="background-color: #8e42ff; padding-left: 20px; padding-right: 20px">
                        <a class="nav-link dropdown-toggle"  style="color: white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <b>@((Session["user"] as users).name)</b>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #ba8dfc">
                            @Html.ActionLink("Moje konto", "Details", "User", new { id = (Session["user"] as users).id }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Moje zamówienia", "MyOrders", "Delivery", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Do wysłania", "Ordered", "Delivery", null, new { @class = "dropdown-item" })
                            <a class="dropdown-item" href="#">Ustawienia</a>
                            @Html.ActionLink("Wyloguj", "Logout", "User", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                    }
                    else {
                        <li class="nav-item"><text class="nav-link">@Html.ActionLink("Logowanie", "Login", "User")</text></li>
                        <li class="nav-item"><text class="nav-link">@Html.ActionLink("Rejestracja", "Create", "User")</text></li>
                    }
                </ul>
                
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <br /><br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Reseller</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/twitter-bootstrap")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
