@model IEnumerable<ProjectReseller.Models.report>

@{
    ViewBag.Title = "Zgłoszenia";
}

<h2>Zgłoszenia dotyczące ogłoszeń</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.content)
        </th>
        <th>
            Nazwa ogłoszenia
        </th>
        <th>
            Zweryfikowane?
        </th>
        <th>
            Zgłaszający
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.content)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.item.name)
    </td>
    @if ((bool)item.verified) {
        <td>
            Tak
        </td>
    }
    else {
        <td>
            Nie
        </td>   
    }
    
    <td>
        @Html.DisplayFor(modelItem => item.users.name)
    </td>
    <td>
        @Html.ActionLink("Przejdź do ogłoszenia", "RedirectTo", new { actionName = "Details", controllerName = "Home", id = item.item.id })
        <br />
        @Html.ActionLink("Ustaw jako zweryfikowane", "SetVerified", new { id=item.id  })
    </td>
</tr>
}

</table>
