@model IEnumerable<ProjectReseller.Models.item>
@using ProjectReseller.Models

@{
    ViewBag.Title = "Lista wszystkich ogłoszeń";

    var imagePath = @"\images\";
}

<h2>Lista ogłoszeń</h2>
@if (Session["user"] != null) {
    if ((Session["user"] as users).account_type != 0) {
        <p>
            @Html.ActionLink("Utwórz ogłoszenie", "Create")
        </p>
    }
}

<div class="row">
    @foreach (var item in Model) {
        if (item.sold == false) { 
            <div class="col-lg-4 mt-4">
                <div class="card shadow-sm" style="background-color: #8e42ff; color: white;">
                    <img class="card-img-top" style="height: 20vw; object-fit: cover;" src="@(imagePath + Html.DisplayFor(modelItem => item.image))" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.name)</h5>
                        @if ((item.description).Length < 33) {
                            <p class="card-text">@(Html.DisplayFor(modelItem => item.description))</p>
                        }
                        else {
                            <p class="card-text">@(Html.DisplayFor(modelItem => item.description).ToString().Substring(0, 30))...</p>
                        }

                        <div class="row">
                            <div class="col-6">
                                <p class="card-text"><small><a style="color: #67d5db" href="@Url.Action("Details", "User", new { id = item.users_id })">@Html.DisplayFor(modelItem => item.users.name)</a></small></p>
                            </div>
                            <div class="col-6">
                                <h6 style="text-align: right">@Html.DisplayFor(modelItem => item.price) zł</h6>
                            </div>
                        </div>
                        <a class="btn btn-dark btn-block" role="button" href="@Url.Action("Details", "Home", new { id = item.id })">Zobacz</a>
                    </div>
                </div>
            </div>
        }
    }
</div>