@model IEnumerable<ProjectReseller.Models.category>

@{
    ViewBag.Title = "Index";
}

<h2>Kategorie</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model) {
    
<a href="#" class="btn btn-outline-info btn-lg btn-block" role="button" aria-pressed="true">@Html.DisplayFor(modelItem => item.name)</a>

<td>
    @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
    @Html.ActionLink("Details", "Details", new { id=item.id }) |
    @Html.ActionLink("Delete", "Delete", new { id=item.id })
</td>

}
